<div class="my-container container fade">
  <div class="row row-grid">
    <div class="d-flex flex-fill"><!--spacer--> </div>
    <div class="col-md-4">
      <img class="img-fluid" src="assets/img/cjs.jpg">
    </div>
    <div class="col-md-6" style="margin-top: 20px">
      <p>I am currently working as an Audio Research Intern at <a href="https://automotive.bose.com/">Bose</a> within the Automotive Systems Division in Framingham, MA.</p>
      <p>This spring, I graduated with degrees in electrical engineering and audio technology from <a href="http://www.clemson.edu/">Clemson University</a>. 
          Starting in the fall, I will be attending <a href="https://www.upf.edu/">Universitat Pompeu Fabra</a> in Barcelona for a Master’s in Sound and Music Computing in the <a href="https://www.upf.edu/web/mtg">Music Technology Group</a>.</p>
      <p>I have a research interest in audio signal processing and machine learning with a focus on intelligent music production systems that aid audio engineers.</p>
      <p>You can reach me at <a href="mailto:cjstein@clemson.edu">cjstein@clemson.edu</a></p>
      <a class="btn btn-outline-dark btn-sm" role="button" href="https://twitter.com/csteinmetz1">                        Twitter</a>
      <a class="btn btn-outline-dark btn-sm" role="button" href="https://github.com/csteinmetz1">                         GitHub</a>
      <a class="btn btn-outline-dark btn-sm" role="button" href="https://www.linkedin.com/in/christiansteinmetz1/">       LinkedIn</a>
      <a class="btn btn-outline-dark btn-sm" role="button" href="https://www.instagram.com/christiansteinmetz/">          Instagram</a>
      <a class="btn btn-outline-dark btn-sm" role="button" href="https://open.spotify.com/artist/1ZYvdCO7FbgPOE16f173OB"> Spotify</a>
    </div>
    <div class="d-flex flex-fill"><!--spacer--> </div>
  </div>
</div>
