.card-body {
	padding: 0em;
	margin: 1em 0 0.5em 0;
}

.card-container {
	max-width: 900px;
}

.card-deck {
	margin: 0 auto;
}

.card {
	border: none;
	max-width: 360px;
	min-width: 360px;
	margin: 15px 15px 15px 15px;
}

.card-img-fit { 
	height: 240px;
	object-fit: cover;
}

p.card-text {
	font-size: 14px;
	font-weight: 300;
}

p.card-date {
	float: right;
}