<div class="container fade">
  <h4>Education</h4>
  <p class="employer">Universitat Pompeu Fabra</p>
  <p class="degree">Master in Sound and Music Computing</p>
  <p class="date" style="display: inline">Summer 2020</p>
  
  <p class="employer">Clemson University</p>
  <p class="degree">
    B.S. in Electrical Engineering <br>
    B.A. in Production Studies in Performing Arts with a Concentration in Audio Technology <br>
    Minor in Mathematical Sciences
  </p>
  <p class="date" style="display: inline">Spring 2019</p>
  
  <hr>

  <h4>Experience</h4>
      
  <p class="employer">Bose Corporation</p>  
  <p class="position">Audio Research Intern</p> 
  <p class="date">Summer 2019</p>

  <p class="employer">Clemson University</p>  
  <p class="position">Audio Assistant</p> 
  <p class="date">Fall 2017 - Spring 2019</p>

  <p class="employer">Cirrus Logic, Inc.</p>  
  <p class="position">Mixed Signal Audio Applications Engineer Intern</p> 
  <p class="date">Summer 2017 & Summer 2018</p>

  <p class="employer">WSBF-FM Clemson Radio Station</p>  
  <p class="position">Chief Engineer</p> 
  <p class="date">Fall 2016 - Spring 2019</p>
  <p class="position">Equipment Engineer</p> 
  <p class="date">Fall 2016 - Spring 2019</p>      
  <p class="position">Producer & Live Sound Engineer</p> 
  <p class="date">Fall 2015 - Fall 2018</p>

  <p class="employer">Vertronix Research Corporation</p>  
  <p class="position">Electrical Engineering Intern</p> 
  <p class="date">Summer 2014, 2015, & 2016</p>

  <hr>

  <h4>Research Projects</h4>

  <p class="employer">NeuralReverberator: Plug-in for room impulse response synthesis via spectral autoencoder</p>
  <button type="button" class="btn btn-outline-dark btn-sm">blogpost</button> 
  <button type="button" class="btn btn-outline-dark btn-sm">code</button>
  
  <p class="employer">MixCNN: Deep convolutional neural network for automatic multitrack mix leveling </p>
  <button type="button" class="btn btn-outline-dark btn-sm">blogpost</button> 
  <button type="button" class="btn btn-outline-dark btn-sm">code</button>
  
  <p class="employer">Real-time phase analysis utility for improving microphone placement </p>
  <button type="button" class="btn btn-outline-dark btn-sm">blogpost</button>
  <button type="button" class="btn btn-outline-dark btn-sm">paper</button> 
  <button type="button" class="btn btn-outline-dark btn-sm">code</button>
  
  <p class="employer">Topic modeling using an adaptation of latent Dirichlet allocation for music suggestions</p>
  <button type="button" class="btn btn-outline-dark btn-sm">code</button>       
  
  <hr>

  <h4>Awards & Honors</h4>
  <p class="employer">Silver Award at AES MATLAB Student Plugin Competition (2018)</p>
  <button type="button" class="btn btn-outline-dark btn-sm">slides</button>
  <button type="button" class="btn btn-outline-dark btn-sm">video</button> 
  <button type="button" class="btn btn-outline-dark btn-sm">code</button>
  
  <p class="employer">KEMET ECE Senior Design Award</p>
  <button type="button" class="btn btn-outline-dark btn-sm">blogpost</button>
  <button type="button" class="btn btn-outline-dark btn-sm">video</button> 
  <button type="button" class="btn btn-outline-dark btn-sm">code</button>
  
  <p class="employer">1st Place at IEEE SoutheastCon Student Paper Competition</p>
  <button type="button" class="btn btn-outline-dark btn-sm">paper</button>
  <button type="button" class="btn btn-outline-dark btn-sm">slides</button> 
  
  <p class="employer">1st Place at Clemson University IEEE Student Paper Competition </p>
  <button type="button" class="btn btn-outline-dark btn-sm">paper</button>

  <p class="employer">Finalist at AES Student Design Competition </p>
  <button type="button" class="btn btn-outline-dark btn-sm">paper</button>
  <button type="button" class="btn btn-outline-dark btn-sm">poster</button> 
  
  <p class="employer">Overall Student Media Contribution Award | 2017</p>
  
  <hr>

  <h4>Talks and Lectures</h4>
  <p class="employer">Speaker at TEDx Clemson University</p>
  <button type="button" class="btn btn-outline-dark btn-sm">video</button>
  
  <p class="employer">Audio Tech Talk Series at Clemson University</p>  
  <button type="button" class="btn btn-outline-dark btn-sm">slides</button>
  <button type="button" class="btn btn-outline-dark btn-sm">code</button> 
  
  <hr>

  <h4>Hackathons</h4>
  <p class="employer">Domain.com Award at CUhackit for CUparkit</p>
  <button type="button" class="btn btn-outline-dark btn-sm">site</button>
  <button type="button" class="btn btn-outline-dark btn-sm">blogpost</button> 
  <button type="button" class="btn btn-outline-dark btn-sm">code</button> 
  
  <p class="employer">Mentor at the CUhackit: Hello World </p>
  <button type="button" class="btn btn-outline-dark btn-sm">site</button>
  <button type="button" class="btn btn-outline-dark btn-sm">blogpost</button> 
  <button type="button" class="btn btn-outline-dark btn-sm">code</button> 
  
  <p class="employer">Best Cloud Based Hack at CUhackit for auxCord </p>
  <button type="button" class="btn btn-outline-dark btn-sm">site</button>
  <button type="button" class="btn btn-outline-dark btn-sm">blogpost</button> 
  <button type="button" class="btn btn-outline-dark btn-sm">code</button> 
  
  <p class="employer">Participant at HackGT 4: New Heights with Recipe Revealer </p>
  <button type="button" class="btn btn-outline-dark btn-sm">blogpost</button> 
  <button type="button" class="btn btn-outline-dark btn-sm">code</button> 
  
  <hr>

  <h4>Scholarships</h4>

  <p class="scholarship">AES Mary Lea Simpson Memorial Scholarship</p> 
  <p class="date">Fall 2018 to Spring 2019</p>

  <p class="scholarship">Charles C Kanapaux Scholarship</p> 
  <p class="date">Fall 2015 to Spring 2019</p>

  <p class="scholarship">Alan McCrary Johnstone Scholarship</p> 
  <p class="date">Fall 2017 to Spring 2018</p>

  <p class="scholarship">Cephus W Long Engineering Scholarship</p> 
  <p class="date">Fall 2017 to Spring 2018</p>

  <p class="scholarship">Carpenter Endowed Engineering Scholarship</p> 
  <p class="date">Fall 2015 to Spring 2016</p>

  <p class="scholarship">SC LIFE STEM Enhancement Scholarship </p> 
  <p class="date">Fall 2015 to Spring 2018</p>     

  <p class="scholarship">SC LIFE Scholarship</p> 
  <p class="date">Fall 2014 to Spring 2018</p>     

  <p class="scholarship">National Merit Corporate Scholarship</p> 
  <p class="date">Fall 2014 to Fall 2018</p>   

  <p class="scholarship">Heritage Classic Foundation Scholarship</p> 
  <p class="date">Fall 2014 to Spring 2018</p>   

  <p class="scholarship">Jeff Kanton Memorial Scholarship</p> 
  <p class="date">Fall 2014</p>   

  <p class="scholarship">Richard R. Moore Scholarship</p> 
  <p class="date">Fall 2014</p>  

  <p class="scholarship">Rotary Club of Hilton Head Island Scholarship</p> 
  <p class="date">Fall 2014</p>  

  <p class="scholarship">Hilton Head Area Home Builders Association Scholarship</p> 
  <p class="date">Fall 2014</p>  

  <hr>

  <h4>Relevant Coursework</h4>

  <div class="row">
    <div class="col-sm">
      <h5>Math</h5>
      <ul class="courses">
        <li>Linear Algebra</li>
        <li>Linear Programming</li>
        <li>Ordinary Differential Equations</li>
        <li>Time Series Analysis</li>
        <li>Discrete Math Structures</li>
      </ul>            
    </div>
    <div class="col-sm">
      <h5>Audio</h5>
      <ul class="courses">
        <li>Acoustics of Music</li>
        <li>Advanced Sound Reinforcement</li>
        <li>History of Audio Technology</li>
        <li>Audio Engineering I & II</li>
        <li>Introduction to Digital Audio Effects</li>
      </ul>                      
    </div>
    <div class="col-sm">
      <h5>Signal Processing</h5>
      <ul class="courses">
        <li>Random Signal Analysis</li>
        <li>Signals and Systems</li>
        <li>Digital Signal Processing</li>
        <li>Communication Systems</li>
        <li>Linear Control Systems</li>
      </ul>     
    </div>
  </div> 
  <hr>
</div>